migrate/pkg/*
migrate/daviwil

tree-sitter/*.so

# emacs state
var/**
#var/desktop/*

# emacs config 
# etc/**
!etc/yasnippet/snippets

# figure this out
eln-cache/**
straight/**
elpa/**
scratch/**

eln-cache2/
straight2/**

.cache/**
log/**

/depmap
